.homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #F4F9F9;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.headerText {
  width: 60%;
  color: white;
  border-left: 3px solid white;
  padding: 40px 40px 40px 35px;
  margin-bottom: 20px;
}

.notHomeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, #C3D973, #7D8C45);
}

html {
  font-family: poppins, sans-serif;
  font-size: 28px;
}

@font-face {
  font-family: poppins;
  src: url(./fuentes/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppinsBold;
  src: url(./fuentes/Poppins/Poppins-ExtraBold.ttf);
}

.poppins {
  font-family: poppins, sans-serif;
  font-size: 28px;
}



body {
  width: 1920px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 0.55rem;
}

nav ul li:last-child a {
  background-color: #ea5a4c;
  border-radius: 15px;
  color: white;
  padding: 5px 10px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.boxWithImageAndText {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  margin: 10px;
}

.imageContainer {
  flex:1;
  margin: 10px;
}

.boxWithImageAndText figure {
  width: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxWithImageAndText figure img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

#principalTitle {
  font-size: 2rem;
  font-family: poppinsBold, sans-serif;
}

h2 {
  font-size: 0.8rem;;
}

h3 {
  font-size: 0.60rem;
}

h4 {
  font-size: 0.7rem;
}

p {
  font-size: 0.6rem;;
}

#button1 {
  background-color: #ea5a4c;
  width: 197px;
  height: 58px;
  font-size: 30px;
  border-radius: 15px;
  color: white;
  padding: 5px 10px;
}

#superar {
  color: #2AB5B8;
}

#adiccion {
  color: #EA5A4C;
}

.greenBox {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background: linear-gradient(to bottom, #C3D973, #7D8C45);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
}

.greenBox p:first-child {
  font-size: 25px;
  font-weight: bold;
  width: 80%;
}

.greenBox p:nth-child(2) {
  font-size: 20px;
  width: 80%;
}

.boxWithCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.threeCardsContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 450px;
  margin: 30px;
}

.secondaryCard {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  flex:1;
  height: 350px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: black;
}

.principalCard {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  flex:1;
  height: 450px;
  text-align: center;
  border-radius: 10px;
  color: white;
  background: linear-gradient(to bottom, #C3D973, #7D8C45);
}

.secondaryCard h4 {
    opacity: 0;
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.principalCard h4 {
    opacity: 1;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.threeCardsContainer > div,
.twoCardsContainer > div {
    transition: all 0.5s ease-in-out;
}

.principalCard p,
.secondaryCard p {
  font-size: 0.5rem;
}

.principalCard h3,
.secondaryCard h3 {
  font-size: 0.6rem;
}

.principalCard h4,
.secondaryCard h4 {
  font-size: 0.6rem;
}

.secondaryCard figure,
.principalCard figure {
  width: 100px;
  height: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondaryCard figure img,
.principalCard figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

#button2 {
  background-color: #ea5a4c;
  width: 100px;
  border-radius: 15px;
  color: white;
  padding: 5px 10px;
}

.subscribe-form-container {
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
}

.subscribe-form-container input[type="email"] {
  flex-grow: 1;
  padding: 18px 25px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #a7ad8f;
  color: #ffffff;
}

.subscribe-form-container input[type="email"]::placeholder {
  color: #f0f0f0;
  opacity: 1;
}

li a:hover {
  color:#EA5A4C
}

.subscribe-form-container button {
  padding: 18px 30px;
  border: none;
  outline: none;
  background-color: #e87070;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.subscribe-form-container button:hover {
  background-color: #d96060;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preBlogText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
}

.blogContent {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
}

.blogPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 15px;
}

.blogImage {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.blogPost figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.blogPost figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.blogText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 10px;
  flex-grow: 1;
}

.blogText h3 {
    margin-top: 10px;
    text-align: center;
}

.textAndCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
}

.twoCardsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 450px;
  width: 50%;
  justify-content: space-between;
  margin-left: 50px;
}

footer {
  background: linear-gradient(to bottom, #C3D973, #7D8C45);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContent {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  color: white;
}

.footerLinks ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footerLinks ul li a {
  text-decoration: none;
  color: inherit;
}

hr {
  width: 80%;
}

.footerLogo p {

  width: 60%;
  text-align: justify;
}

.footerLinks ul li a,
.footerLinks ul li {
  text-decoration: none;
  color: white;
  font-size: 0.55rem;
}
.footerSocialMedia {
  margin-top: 15px;
}

.footerSocialMedia ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footerSocialMedia ul li {
  margin: 0 10px;
}

.footerText {
  color: white;
}

.team {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamMember {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.memberQuote {
  font-weight: bold;
  font-style: italic;
}

.teamMember figure {
  width: 404px;
  height: 331px;
}

.values {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values > h2 {
  font-weight: normal;
  font-size: 0.6rem;
}

#flower {
  width: 183px;
  height: 242px;
}

#tag {
  width: 166px;
  height: 166px;
}

.valueConclusion {
  font-weight: 550;
}